@{Layout = null;}

@using Thinktecture.IdentityServer.Web.Helpers
@using Thinktecture.IdentityServer.Web.App_LocalResources.Account
@model Thinktecture.IdentityServer.Web.ViewModels.SignInModel

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>Nobre Seguradora</title>
    <!-- Bootstrap -->
    <link href="~/themes/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap responsive -->
    <link href="~/themes/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/themes/css/plugins/jquery-ui/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/themes/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/themes/css/style.css">
    <!-- Color CSS -->
    <link rel="stylesheet" href="~/themes/css/themes.css">

    <link href="~/Scripts/Account/SignIn.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/themes/js/jquery.min.js"></script>
    <!-- Nice Scroll -->
    <script src="~/themes/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="~/themes/js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/themes/js/bootstrap.min.js"></script>

    <script src="~/Scripts/Account/SignIn.js"></script>

    <!--[if lte IE 9]>
		<script src="js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png" />
</head>

@{
    ViewBag.Title = SignIn_cshtml.UsernamePasswordSignIn;
    if (Model.IsSigninRequest)
    {
        ViewBag.HideMenu = true;
    }
}

@if (User.Identity.IsAuthenticated)
{
    <h2>@string.Format(SignIn_cshtml.UnauthorizedAuthenticatedUser, User.Identity.Name)</h2>
}



<body class='login'>

    <div class="wrapper">

        <h1><a href="index.html">
      <img src="~/themes/img/logo.png" alt="" class='retina-ready'>
    </a></h1>

          <div id="summary" class="summary">
            @Html.ValidationSummaryWithContainer("")
        </div>

        <div class="login-body">
            <h2>@SignIn_cshtml.Login</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="control-group">
                    <div class="email controls">
                        <input type="text" name='UserName' placeholder="email" class='input-block-level' data-rule-required="true" data-rule-email="true" value="@Model.UserName">
                    </div>
                </div>
                <div class="control-group">
                    <div class="pw controls">
                        <input type="password" name="Password" placeholder="senha" class='input-block-level' data-rule-required="true">
                    </div>
                </div>
                <div class="controls">
				<label class="checkbox">
            <input type="checkbox" name="EnableSSO" value="false">
            Mantenha-me conectado
				</label>
			    </div>

                <div class="submit">

                    <input type="submit" value="Entrar" class='btn btn-red'>
                </div>
            }
            <div class="forget">
        <a href="@Html.ForgotPasswordUrl()"><span>Esqueceu a senha?</span></a>
            </div>

     @*       @if (Model.ShowClientCertificateLink)
            {
                @Html.ActionLink(SignIn_cshtml.UseClientCertificate, "CertificateSignIn", new { returnUrl = Model.ReturnUrl })
            }*@
        </div>
    </div>
</body>
</html>